{# footer de l'application Navire #}
<footer class="bg-light text-center text-lg-start" style="position: fixed; left: 0; bottom: 0; width: 100%; ">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="#">Contact</a>
        <a class="nav-link" href="https://moodle.benoitroche.fr/">Moodle de Benoît Roche</a>
      </div>
    </div>
  </div>
</nav>
</footer>